django==5.2.4
celery==5.5.3
django-environ==0.12.0
django-ratelimit==4.1.0
django-redis==6.0.0
django-widget-tweaks==1.5.0
google-genai==1.28.0
redis==7.0.0b1
celery-redbeat==2.3.3
django_deep_translator==1.5.1