{% extends 'base.html' %}
{% load widget_tweaks %}


{% block title %}Password Changed Successfully{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center">
    <div class="col-md-6 my-5">
        <div class="card p-4">
            <h2 class="text-center">Password Changed Successfully!</h2>
            <hr>
            <p class="text-center text-muted">Your password has been changed.</p>
            <div class="text-center mt-4">
            <a href="{% url 'users:account_settings' %}">Back to Settings</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}