{% extends "base.html" %} 
{% load static %} 
{% load widget_tweaks %} 

{% block title %} Account Settings {% endblock %} 

{% block body %}

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Account</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          <strong>Warning!</strong> You are about to delete your account
          permanently.
        </p>
        <p>
          Doing this will permanently remove all account data including your
          pantry, saved recipes, and favourites. Are you sure you want to
          continue?
        </p>
        <p>
          I'm sure,
          <a href="{% url 'users:delete_account' %}" class="btn btn-outline-danger">Delete Account</a>.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container d-flex justify-content-center">
  <div class="col-md-6 my-5">
    <div class="card p-4 rounded shadow-lg my-4">
      <h2 class="text-center">Account management</h2>
      <hr />
      <div class="d-flex justify-content-center">
        <div class="w-50">
          <p><strong>Username</strong>: {{user.username}}</p>
          <p><strong>Email</strong>: {{user.email}}</p>
          <p><strong>Date Joined</strong>: {{user.date_joined}}</p>
        </div>
      </div>

      <div class="text-center">
        <a href="{% url 'password_change' %}" class="btn btn-outline-primary mt-4 w-50">Change Password</a>
        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-danger mt-4 w-50">Delete Account</a>
      </div>
    </div>

  <div class="card p-4 rounded shadow-lg my-4">
            <h2 class="text-center">User settings</h2>
            <hr />
            <form method="post">
      {% csrf_token %}

      <div class="mb-3">
        <label for="{{ form.language_preference.id_for_label }}" class="form-label">Language Preference</label>
        {{ form.language_preference }}
      </div>

      <div class="mb-3">
    <label class="form-label">Dietary Requirements</label>
    {% for checkbox in form.dietary_requirements %}
        <div class="form-check">
            {{ checkbox.tag }}
            <label class="form-check-label" for="{{ checkbox.id_for_label }}">
                {{ checkbox.choice_label }}
            </label>
        </div>
    {% endfor %}
</div>

<div class="mb-3">
    <label class="form-label">Allergens</label>
    {% for checkbox in form.allergens %}
        <div class="form-check">
            {{ checkbox.tag }}
            <label class="form-check-label" for="{{ checkbox.id_for_label }}">
                {{ checkbox.choice_label }}
            </label>
        </div>
    {% endfor %}
</div>

      <div class="form-check form-switch mb-3">
        {{ form.show_nutri_score }}
        <label class="form-check-label" for="{{ form.show_nutri_score.id_for_label }}">{{ form.show_nutri_score.label }}</label>
      </div>
      <div class="form-check form-switch mb-3">
        {{ form.show_eco_score }}
        <label class="form-check-label" for="{{ form.show_eco_score.id_for_label }}">{{ form.show_eco_score.label }}</label>
      </div>
      <div class="form-check form-switch mb-3">
        {{ form.get_only_localised_results }}
        <label class="form-check-label" for="{{ form.get_only_localised_results.id_for_label }}">{{ form.get_only_localised_results.label }}</label>
      </div>
      
      <button type="submit" class="btn btn-primary w-100">Save Settings</button>
    </form>
          </div>
</div>
</div>

{% endblock %}
