{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Register{% endblock %}

{% block body %}
<h2 class="text-dark">Register</h2>
<form method="post">
    {% csrf_token %}

    {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="mb-3 text-dark">
        {{ form.username.label_tag }}
        {% render_field form.username class="form-control" %}
            <div class="form-text ">{{ form.username.help_text }}</div>
        {% for error in form.username.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="mb-3 text-dark">
        {{ form.email.label_tag }}
        {% render_field form.email class="form-control" %}
            <div class="form-text ">{{ form.email.help_text }}</div>
        {% for error in form.email.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="mb-3 text-dark">
        {{ form.password1.label_tag }}
        {% render_field form.password1 class="form-control" %}
            <div class="form-text">{{ form.password1.help_text }}</div>
        {% for error in form.password1.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="mb-3 text-dark">
        {{ form.password2.label_tag }}
        {% render_field form.password2 class="form-control" %}
            <div class="form-text ">{{ form.password2.help_text }}</div>
        {% for error in form.password2.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-outline-primary">{% trans "Register" %}</button>
</form>
{% url 'login' as login_url %}
<p class="text-dark">{% blocktrans %}Already have an account? <a href="{{ login_url }}">Log in here</a>.{% endblocktrans %}.</p>
{% endblock %}