{% load widget_tweaks %}
{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'savor.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>{% block title %} Savor {% endblock %}</title>
</head>
<body>

<aside id="sidebar" class="sidebar">
    <div class="d-flex justify-content-between align-items-center sidebar-toggle-div d-lg-flex">
        <a class="navbar-brand m-0" href="{% url 'pantry:index' %}">Savor</a>
        <button id="sidebarToggle" class="sidebar-toggle-btn">
            <i class="bi bi-box-arrow-in-left"></i>
        </button>
    </div>

        <form class="search-form" role="search" id="searchFormMobile">
                    {% csrf_token %}
                    <div class="autocomplete-wrapper position-relative">
                        <input type="text" id="productNameInputMobile" name="product_name" class="form-control" placeholder="Search by Ingredient" aria-label="{% trans 'Search Product by ingredient' %}">
                        <div id="autocomplete-suggestions" class="list-group position-absolute w-100" style="z-index: 1000;"></div>
                    </div>
                    <input type="text" id="barcode_input" name="barcode" class="form-control" placeholder="Search by Barcode" aria-label="{% trans 'Search Product by Barcode' %}">
                   
                          <button class="btn btn-outline-success w-100 my-1" type="submit">
                      <span class="btn-text">{% trans "Search" %}</span>  <i class="bi bi-search"></i>
                    </button>

                     <button class="btn btn-outline-primary scan-button w-100 my-1" type="button" id="scanButtonMobile">
                        <span class="btn-text">{% trans "Scan" %}</span> <i class="bi bi-upc-scan"></i> 
                    </button>
                   
         </form>

        <ul class="navbar-nav">
            <hr class="sidebar-divider">


            {% if user.is_authenticated %}
            <li class="nav-item">
    <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'pantry:index' %}">
        <i class="bi bi-house-door"></i>
        <span>{% trans "Home" %}</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link {% if request.path == '/pantry/' %}active{% endif %}" href="{% url 'pantry:pantry_view' %}">
        <i class="bi bi-fork-knife"></i>
        <span>{% trans "Pantry" %}</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link {% if request.path == '/recipes/' %}active{% endif %}" href="{% url 'recipes:recipes' %}">
        <i class="bi bi-journal-text"></i>
        <span>{% trans "Recipes" %}</span>
    </a>
</li>

        <hr class="sidebar-divider">

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-gear-fill"></i>
                <span>{% trans "Settings" %}</span>
            </a>
            <ul class="dropdown-menu">
                <li>
                <div class="dropdown-item p-0">
                    <a href="{% url 'users:account_settings' %}" class="btn nav-link">
                    <i class="bi bi-person-circle"></i><span>{% trans "Account" %}</span>
                    </a>
                 </div>
                    
                </li>
                <li>
                    <form action="{% url 'logout' %}" method="post" class="dropdown-item p-0">
                        {% csrf_token %}
                        <button type="submit" class="btn nav-link">
                            <i class="bi bi-arrow-right-circle"></i> <span>{% trans "Log Out" %}</span> 
                        </button>
                    </form>
                </li>
            </ul>
        </li>
    </ul>

            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">
                    <i class="bi bi-arrow-right-circle"></i>
                    <span>{% trans "Log On" %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register' %}">
                    <i class="bi bi-person-plus-fill"></i>
                    <span>{% trans "Register" %}</span>
                </a>
            </li>
            {% endif %}
</aside>

<div id="scanner-container" style="display: none; flex-direction: column;  align-items: center;">
    <div id="reader" class="viewport" width="700px" height="700px"></div>
    <button id="stop-scanner-btn" class="btn btn-danger mt-2">{% trans "Stop Scanning" %}</button>
 </div>


    
    <nav class="top-search-bar">
           {% if user.is_authenticated %}
            <div class="nav-greeting">
                <span >{% trans "Welcome" %}, {{user.username}}</span>
            </div>
            {% endif %}

            <form class="search-form" role="search" id="searchForm">
                {% csrf_token %}
                <div class="autocomplete-wrapper position-relative">
                <input type="text" id="product_name_input" name="product_name" class="form-control" placeholder="{% trans 'Search by name' %}" aria-label="{% trans 'Search product by name' %}">
                <div id="autocomplete-suggestions-desktop" class="list-group position-absolute w-100" style="z-index: 1000;"></div>
                </div>
                <input type="text" id="barcode_input_desktop" name="barcode" class="form-control" placeholder="{% trans 'Search by barcode' %}" aria-label="{% trans 'Search product by barcode' %}">
                <button class="btn btn-outline-success" type="submit">
                  <span class="btn-text">{% trans "Search" %}</span>  <i class="bi bi-search"></i>
                </button>
                <button class="btn btn-outline-primary scan-button" type="button" id="scanButton">
                    <span class="btn-text">{% trans "Scan" %}</span> <i class="bi bi-upc-scan"></i> 
                </button>
            </form>  
        </nav>

        <div class="main-content">
          {% block body %}
          
          {% endblock %}
        </div>


</body>
<footer><div>Myles Gillard 2025</div></footer>
</html>