{% load widget_tweaks %}
{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <script src="{% static 'savor.js' %}"></script>
    <script src="https://unpkg.com/@ericblade/quagga2@v0.0.10/dist/quagga.min.js"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>{% block title %} Savor {% endblock %}</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'pantry:index' %}">Savor</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'pantry:pantry_view' %}"> Pantry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'recipes:recipes' %}">Recipes</a>
        </li>
         <li class="nav-item">
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-link nav-link">Log Out</button>
        </form>
        </li>
        {% else %}
          <li class="nav-item">
          <a class="nav-link"  href="{% url 'login' %}">Log On</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'users:register' %}">Register</a>
        </li>
        {% endif %}
      </ul>
       <form class="d-flex" role="search" id="search-form">
          {% csrf_token %} 
           <input type="text" id="product_name_input" name="product_name" class="form-control me-2" placeholder="Search by Name" aria-label="Search Product by Name">
           <input type="text" id="barcode_input" name="barcode" class="form-control me-2" placeholder="Search by Barcode" aria-label="Search Product by Barcode">
           <button class="btn btn-outline-success" type="submit">Search</button>
           <button class="btn btn-primary" type="button" id="scan-button">Scan Barcode</button>
        </form>
    </div>      
  </div>
</nav>
<div>
  {% block body %}
  
  {% endblock %}
</div>

</body>
<footer>Myles Gillard 2025</footer>
</html>